::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #01b3a7 , #162e44);
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
img:hover{
    transform: scale(1.1);
    transition:all ease-in-out 0.75s;
}
.head{
    background-color:#162e44;
    color: white;
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
}

#blog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex: 5;
}

.blog-post {
    width: 250px;
    height: fit-content;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 0.9rem;
    color: #555;
}

#add-blog {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex: 3;
    height: fit-content;
    position: sticky;
    top: 110px;
}

#add-blog h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

#blog-form {
    display: grid;
    grid-gap: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #01b3a7;
    border-color: #01b3a7;
    
}
#blog-page{
    display: flex;
}
@media (max-width: 495px) {
    #add-blog{
        display: none;
    }
}